@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

$primary: #e4d1d1;
$secondary: #b9b0b0;
$green: #d9ecd0;

$roboto: 'Roboto Mono', monospace;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: $roboto;
    background-color: $primary;
    height: 100%;
    overflow: hidden;
    color: #ffff;
    .main-container {
        height: 100vh;
        display: inline-flex;
        overflow: hidden;
        transform: translateX(0);
        transition: transform 0.3s ease-out;
        cursor: grab;
        .slide {
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            max-height: 100vh;
            width: 100vw;
            user-select: none;
            img {
                width: 300px;
            }
        }
    }
}

